* {
    padding: 0;
    margin: 0
}

a:visited,
a:link,
a:hover,
a:active {
    color: #000
}

main {
    display: grid;
    grid-template-columns: 400px 250px 400px;
    grid-template-rows: repeat(2, 300px 100px) repeat(2, 300px);
    max-width: 1024px;
    margin: auto;
    font-family: 'Oswald', sans-serif;
}

div {
    width: 100%;
    height: 100%;
}

.photo {
    grid-column: 1/2;
    grid-row: 1/3;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name_summary {
    padding: 40px;
    box-sizing: border-box;
    grid-column: 1/2;
    grid-row: 3/6;
}

.name_summary h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.name_summary ul {
    font-size: 1.5em;
    list-style-position: inside;
}

.skills {
    grid-column: 1/3;
    grid-row: 6/7;
}

.contacts {
    display: grid;
    justify-content: start;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    grid-column: 2/4;
    grid-row: 1/2;
}

.contacts>div {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-content: space-between;
    align-items: center;
}

.contacts div.icon {
    width: 49px;
    height: 49px;
    overflow: hidden;
}

.contacts div.icon img {
    position: relative;
    top: -54px;
}

.contacts div.icon img:hover {
    position: relative;
    top: 0px;
}

.contacts div.mail img {
    left: 0px
}

.contacts div.phone img {
    left: -54px
}

.contacts div.skype img {
    left: -108px
}

.contacts div.git img {
    left: -162px
}

.text-contacts {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.experience {
    grid-column: 2/4;
    grid-row: 2/5;
}

.aducation {
    grid-column: 2/4;
    grid-row: 5/6;
}

.code {
    grid-column: 3/4;
    grid-row: 6/7;
}